L1_RPC_ENDPOINT=
DTL_IMAGE_TAG=0.4.3
DTL_PORT=7879
ETH_NETWORK=mainnet
ETH_NETWORK_RPC_PROVIDER=https://mainnet.optimism.io
ETH_REPLICA_RPC_PROVIDER=http://localhost:9991
L2GETH_HTTP_PORT=9991
L2GETH_IMAGE_TAG=0.4.6
