DATA_TRANSPORT_LAYER__L1_RPC_ENDPOINT=
DATA_TRANSPORT_LAYER__L2_RPC_ENDPOINT=https://mainnet.optimism.io
DTL_IMAGE_TAG=0.4.4
ETH_NETWORK=mainnet
ETH_NETWORK_RPC_PROVIDER=https://mainnet.optimism.io
ETH_REPLICA_RPC_PROVIDER=http://l2geth-replica:8545
L1_NODE_WEB3_URL=
L1_RPC_ENDPOINT=
L2GETH_HTTP_PORT=9991
L2GETH_IMAGE_TAG=0.4.8
L2_RECIPIENT_ADDRESS=
L2_USER_PRIVATE_KEY=
SHARED_ENV_PATH=./kustomize/replica/envs/mainnet-gen5-staging-1/